body {
    margin: 0px;
    width: 100%;
    background-color: #dedcd3;
}

main {
    margin: 0px auto;
    width: 45em;
    padding: 1em 2em;
    background-color: #FBFAF6;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input[type=text], input[type=password], input[type=date] {
    width: 350px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button, #edit-link a {
    background-color: #800000; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    width: 350px;
    text-decoration: none;
    display: inline-block;
    font: 400 20px Arial;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#edit-link a {
    float: left;
    width: 286px;
    font-size: 20px;
}

button:hover, #edit-link a:hover {
    background-color: #660000; /* Green */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
}

button:active {
    background-color: #660000;
    transform: translateY(5px);
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 0px 0px 0 rgba(0,0,0,0.19);
}

.nicEdit-main {
    background-color: #FFFFFF;
}

#top-nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #800000;
}

#top-nav-list li {
    float: left;
}

#top-nav-list li a {
    display: block;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    padding: 14px 16px;
    text-decoration: none;
}

#top-nav-list li a img{
    float: left;
}

/* Change the link color to #111 (black) on hover */
#top-nav-list li a:hover {
    background-color: #660000;
}

#entry-list {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none
}

#entry-list li a {
    display: block;
    color: #800000;
    font-size: 25px;
}

#metaDate, #metaTitle, #accountName, #passwordBlock, #confirmPasswordBlock {
    font-size: 25px;
}

#saveEntry, #newEntry, #createaccount {
    width: 723px;
}

#save {
    float: right;
}