body {
    margin: 0px;
    width: 100%;
    background-color: #555555;
}

main {
    margin: 0px auto;
    width: 60em;
    padding: 1em 2em;
    background-color: #EEEEEE;
}

#top-nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

button {
    background-color: #333333; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
    background-color: #4CAF50; /* Green */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
}

button:active {
    background-color: #3e8e41;
    transform: translateY(5px);
}

#top-nav-list li {
    float: left;
}

#top-nav-list li a {
    display: block;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    padding: 14px 16px;
    text-decoration: none;
}

#top-nav-list li a img{
    float: left;
}

/* Change the link color to #111 (black) on hover */
#top-nav-list li a:hover {
    background-color: #111;
}

#entry-list {
    list-style-type: none
}

#entry-list li a {
    display: block;
    color: #0000FF;
    font-size: 25px;
}