body {
    margin: 0px;
    width: 100%;
    background-color: #555555;
}

main {
    margin: 0px auto;
    width: 120em;
    background-color: #EEEEEE;
}

#top-nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#top-nav-list li {
    float: left;
}

#top-nav-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#top-nav-list li a:hover {
    background-color: #111;
}